body{
    margin: 0;
    display: grid;
    grid-template-areas: 'cabeçalho cabeçalho cabeçalho cabeçalho'
                         'navegue navegue navegue navegue'
                         'seção seção lado lado'
                         'rodapé rodapé rodapé rodapé';
    grid-template-rows: 30vh 28vh 60vh 40vh;
    grid-gap: 10px                  
}

header{
    grid-area: cabeçalho;
    background-color: blue;
    font-family: fantasy;
    display:flex;
    justify-content: center;
    align-content: center;
    



}

header img{
    width: 200px;
    height: 180px;
    border-radius: 100%;
    border-color: black;
}

    nav a{ text-decoration: none;

    }

nav{
    grid-area: navegue;
    background-color: red;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content:space-around;
    
    
}

section{
    grid-area: seção;
    background-color: green;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

aside{
    grid-area: lado;
    background-color: gold;
    font-size: 30px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

aside button{
    margin-top: 30px;
    cursor: pointer;
}

aside input:nth-child(3)

aside input{
    border: none;
    height: 30px;
    width: 250px;
    background-color: transparent;
    color: blue;
}


footer{
    grid-area: rodapé;
    background-color:indianred;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    
}